---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import CardBg from "../components/CardBg.astro";
import NewsCard from "../components/NewsCard.astro";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Slideshow from "../components/Slideshow.astro";
import Statistik from "../components/Statistik.astro";

const cards = [
  {
    title: "Unit Perdagangan dan Retail Desa",
    description:
      "Mengelola penyediaan kebutuhan pokok masyarakat desa serta membantu distribusi produk lokal.",
    link: "#",
    image: "./images/uu-1.png",
  },
  {
    title: "Unit Pertanian dan Peternakan",
    description:
      "Menyediakan layanan sewa alat pertanian, pupuk, pembibitan, serta pemasaran hasil panen petani.",
    link: "#",
    image: "./images/uu-2.png",
  },
  {
    title: "Unit Jasa",
    description:
      "Mulai dari penyewaan gedung, kendaraan, hingga layanan internet desa yang mendukung aktivitas masyarakat.",
    link: "#",
    image: "./images/uu-3.png",
  },
  {
    title: "Unit UMKM & Kerajinan",
    description:
      "Pendampingan UMKM, pengolahan produk makanan, minuman, dan kerajinan khas desa.",
    link: "#",
    image: "./images/uu-4.png",
  },
];

const news = [
  {
    title: "Lorem ipsum dolor sit amet",
    description:
      "consectetur adipiscing elit. Donec ut elit nec nisi iaculis rhoncus ",
    link: "#",
    image: "./images/uu-4.png",
    date: "2025-12-13",
  },
  {
    title: "Donec eget orci rhoncus, malesuada sapien ",
    description: "Donec eget orci rhoncus, malesuada sapien ",
    link: "#",
    image: "./images/uu-3.png",
    date: "2025-12-13",
  },
  {
    title: "Fusce scelerisque sem in elit",
    description: "Donec eget orci rhoncus, malesuada sapien ",
    link: "#",
    image: "./images/uu-2.png",
    date: "2025-12-13",
  },
  {
    title: "Donec eget orci rhoncus, malesuada sapien ",
    description: "Donec eget orci rhoncus, malesuada sapien ",
    link: "#",
    image: "./images/uu-1.png",
    date: "2025-12-13",
  },
  {
    title: "Donec eget orci rhoncus, malesuada sapien ",
    description: "Donec eget orci rhoncus, malesuada sapien ",
    link: "#",
    image: "./images/uu-4.png",
    date: "2025-12-13",
  },
  {
    title: "Donec eget orci rhoncus, malesuada sapien ",
    description: "Donec eget orci rhoncus, malesuada sapien ",
    link: "#",
    image: "./images/uu-3.png",
    date: "2025-12-13",
  },
];

const buttons = [
  {
    text: "Kegiatan Desa",
    link: "#",
    icon: "bi-person-walking",
    variant: "dark",
    size: "lg",
  },
  {
    text: "Laporan Tahunan",
    link: "#",
    icon: "bi-file-earmark-text-fill",
    variant: "dark",
    size: "lg",
  },
  {
    text: "Update Unit Usaha",
    link: "#",
    icon: "bi-newspaper",
    variant: "dark",
    size: "lg",
  },
  {
    text: "Dokumentasi",
    link: "#",
    icon: "bi-images",
    variant: "dark",
    size: "lg",
  },
];
---

<Layout>
  <section class="">
    <Slideshow />
  </section>
  <section class="py-20 bg-gray-100 mb-16 lg:mb-[120px]">
    <div class="container flex flex-col gap-20">
      <div class="section-title text-center">
        <p>Berita dan Informasi</p>
        <h3>Terbaru</h3>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {news.map((news) => <NewsCard {...news} />)}
      </div>
      <div class="flex justify-center items-center">
        <Button text="Lihat Semua" link="#" icon="" variant="dark" size="md" />
      </div>
    </div>
  </section>
  <section class="mb-16 lg:mb-[120px]">
    <div class="container">
      <div class="flex flex-wrap gap-8 lg:gap-10 w-full">
        <div>
          <img
            src="./images/ketua-bumdes-pondok-kresek.webp"
            alt=""
            class="max-w-60 w-full h-auto max-h-[326px] object-cover object-top rounded-lg mb-3"
          />
          Kepala Desa Pondok Kresek
        </div>

        <div class="flex flex-col gap-6 max-w-[780px]">
          <div class="section-title">
            <p>Sekilas</p>
            <h3 class="">Desa Pondok Kresek</h3>
          </div>
          <div class="">
            <p class="text-xl lg:text-2xl font-medium">
              Desa Pondok Kresek merupakan desa yang memiliki potensi sumber
              daya alam dan sosial yang terus berkembang.
            </p>
            <p>
              Dalam upaya mewujudkan pembangunan desa yang berkelanjutan, Desa
              Pondok Kresek terus mendorong pengelolaan potensi lokal secara
              optimal, transparan, dan partisipatif. Melalui sinergi antara
              pemerintah desa, Badan Usaha Milik Desa, dan masyarakat, desa ini
              berkomitmen meningkatkan kualitas pelayanan serta kesejahteraan
              warga secara berkelanjutan.
            </p>
            <div class="flex justify-end w-full">
              <Button
                text="Selengkapnya"
                link="#"
                icon=""
                variant="dark"
                size="md"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <Statistik />

  <Footer />
</Layout>
